.banner{
	background-image:  
	linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
	url(../../images/voile.jpg);
  padding: 100px 0px;
  background-size: cover;
	background-position: center;
}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
	opacity: 0.8;
}