/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Stint+Ultra+Condensed&display=swap');

/* importing components files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/banner.css");


body {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
  	margin: 0px;
}

h1,h2,h3 {
	font-family: 'Stint Ultra Condensed', cursive;
	font-weight: bold;
}

a {
  	text-decoration: none;
}